
    <div class="form-group">
      <div class="input-group">
        <input type="text" 
        class="form-control" placeholder="Search the client" 
        [(ngModel)]="searchClient"
        (keyup.enter)="getClientsData()">
        <div class="input-group-append"><button class="btn btn-primary" (click)="getClientsData()"><i class="fa fa-search"></i></button></div>
      </div>      
    </div>
{{searchClient}}


<table class="table table-bordered table-striped">
        <tr>
           <td>
                <a (click)="sort('name')">
                  Name
                <span *ngIf="sortType == 'name' && sortReverse" class="fa fa-caret-down"></span>
                <span *ngIf="sortType == 'name' && !sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a (click)="sort('surname')">
                Surname
                <span *ngIf="sortType == 'surname' && sortReverse" class="fa fa-caret-down"></span>
                <span *ngIf="sortType == 'surname' && !sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a (click)="sort('pesel')">
                    Pesel
                <span *ngIf="sortType == 'pesel' && sortReverse" class="fa fa-caret-down"></span>
                <span *ngIf="sortType == 'pesel' && !sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <th>Phone number</th>
            <th>Email</th>
            <td>
                <a (click)="sort('compName')">
                    Company name
                <span *ngIf="sortType == 'compName' && sortReverse" class="fa fa-caret-down"></span>
                <span *ngIf="sortType == 'compName' && !sortReverse" class="fa fa-caret-up"></span>
                </a>
                </td>
            <th>Regon number</th>
            
        </tr>
    

<tr app-client [client]="client" *ngFor="let client of clientList" (click)="getDetails(client)">

</tr> 


</table>