
   <div class="form-group">
      <div class="input-group">
        <input type="text" 
        class="form-control" placeholder="Search the agreement" 
        [(ngModel)]="searchAgreement"
        (keyup.enter)="changePage(0)">
        <div class="input-group-append"><button class="btn btn-primary" (click)="changePage(0)"><i class="fa fa-search"></i></button></div>
      </div>      
    </div>

<table class="table table-bordered table-striped">
    <tr>
        <td>
            <a (click)="sort('agreementNo')">
                Agreement number
              <span *ngIf="sortType == 'agreementNo' && sortReverse" class="fa fa-caret-down"></span>
              <span *ngIf="sortType == 'agreementNo' && !sortReverse" class="fa fa-caret-up"></span>
              </a>         
        </td>
        <td>
            <a (click)="sort('client')">
                Client
              <span *ngIf="sortType == 'client' && sortReverse" class="fa fa-caret-down"></span>
              <span *ngIf="sortType == 'client' && !sortReverse" class="fa fa-caret-up"></span>
              </a>  
        </td>
        <td>
            <a (click)="sort('start')">
                Start date
              <span *ngIf="sortType == 'start' && sortReverse" class="fa fa-caret-down"></span>
              <span *ngIf="sortType == 'start' && !sortReverse" class="fa fa-caret-up"></span>
              </a> 
        </td>
        <td>
            <a (click)="sort('end')">
                End date
              <span *ngIf="sortType == 'end' && sortReverse" class="fa fa-caret-down"></span>
              <span *ngIf="sortType == 'end' && !sortReverse" class="fa fa-caret-up"></span>
              </a>   
        </td>
        <td>
            Additional info
        </td>
        <td>
            <a (click)="sort('agreementType')">
                Agreement type
              <span *ngIf="sortType == 'agreementType' && sortReverse" class="fa fa-caret-down"></span>
              <span *ngIf="sortType == 'agreementType' && !sortReverse" class="fa fa-caret-up"></span>
              </a> 
        </td>
        
    </tr>

<tr app-agreement [agreement]="agreement" *ngFor="let agreement of agreementList" (refresh)="refresh()">

</tr>

</table>

<app-pager page="1" [max]="totalPages" (change)="changePage($event)"></app-pager>
