<form>
    <div class="form-group">
      <div class="input-group">
        <input type="text" 
        class="form-control" placeholder="Search the agreement" 
        [(ngModel)]="searchAgreement"
        (keyup.enter)="getAgreementsData()">
        <div class="input-group-append"><button class="btn btn-primary" (click)="getAgreementsData()"><i class="fa fa-search"></i></button></div>
      </div>      
    </div>
  </form>

<app-agreement [agreement]="agreement" *ngFor="let agreement of agreementList">
    <p>
        {{agreement.agreementNo}}
    </p>
</app-agreement>

<table class="table table-bordered table-striped">
    <tr>
        <td>
            Agreement number
        </td>
        <td>
            Start date
        </td>
        <td>
            End date
        </td>
        <td>
            Is the agreement active?
        </td>
        <td>
            Client - co tutaj dodać?
        </td>
    </tr>
</table>

<app-pager page="1" [max]="totalPages" (change)="changePage($event)"></app-pager>