<form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search the agreement" ng-model="searchAgreement">
      </div>      
    </div>
  </form>

<!-- <app-agreement [agreement]="agreement" *ngFor="let agreement of agreementList">
    <p>
        {{agreement.agreementNo}}
    </p>
</app-agreement> -->

<table class="table table-bordered table-striped">
    <tr>
        <td>
            Agreement number
        </td>
        <td>
            Client
        </td>
        <td>
            Start date
        </td>
        <td>
            End date
        </td>
        <td>
            Additional info
        </td>
        <td>
            Agreement type
        </td>
        
    </tr>

<tr app-agreement [agreement]="agreement" *ngFor="let agreement of agreementList" (refresh)="refresh()">

</tr>

</table>

<app-pager page="1" [max]="totalPages" (change)="changePage($event)"></app-pager>
