<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{modalTitle}}</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">

    <!-- <label> -->
    Event name:
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" type="text" formControlName="name" required>
      </div>
    </div>
    <!-- </label>
    <label> -->
    Event description:
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" type="text" formControlName="description">
      </div>
    </div>
    <!-- </label>
      <label> -->
    Event Type
    <div class="form-group">
      <select class="form-control" formControlName="eventType">
        <option *ngFor="let type of types" [ngValue]="type">{{type.eventTypeName}}</option>
      </select>
    </div>
    <!-- </label>
    <label> -->
    Start Date:
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="startDay" ngbDatepicker
          #ds="ngbDatepicker" [maxDate]="getFinishDay()">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" (click)="ds.toggle()" type="button"><i
              class="far fa-calendar-alt"></i></button>
        </div>
        <ngb-timepicker class="ml-2" formControlName="startTime" [spinners]="false"></ngb-timepicker>
      </div>
    </div>
    End Date:
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="finishDay" ngbDatepicker
          #de="ngbDatepicker" [minDate]="getStartDay()">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" (click)="de.toggle()" type="button"><i
              class="far fa-calendar-alt"></i></button>
        </div>
        <ngb-timepicker class="ml-2" formControlName="finishTime" [spinners]="false"></ngb-timepicker>
      </div>
    </div>
    <!-- </label> -->
    Contact Person
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" type="text" formControlName="contact" [ngbTypeahead]="searchClient"
          [inputFormatter]="clientFormatter" [resultFormatter]="clientFormatter" [editable]='true'>
        <div class="input-group-append">
          <button class="btn btn-outline-primary no-btn" [disabled]="!isClient()" type="button"><i
              class="fas fa-link"></i></button>
        </div>
      </div>
    </div>
    <div *ngIf="!isClient()">
      Contact Phone
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" type="text" formControlName="contactPhone">
        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')"> Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="!eventForm.valid">{{modalSubmit}}</button>
  </div>
</form>