<div class="row">
    Choose the type of a client:
</div>

<div>
    <input type="radio" [(ngModel)]="radioSelected" name="clientType" [value]="individual"
        (change)="changeType(radioSelected)" />
    <label>Individual client</label>
</div>
<div>
    <input type="radio" [(ngModel)]="radioSelected" name="clientType" [value]="company"
        (change)="changeType(radioSelected)" />
    <label>Business client</label>
</div>

<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">

    <div *ngIf="radioSelected==individual">

        <label>
            First name:
            <input type="text" formControlName="name" required>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors.required">
                    Name is required.
                </div>
            </div>
        </label>

        <label>
            Last name:
            <input type="text" formControlName="surname" required>
            <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="alert alert-danger">
                    <div *ngIf="surname.errors.required">
                        Last name is required.
                    </div>
                </div>
        </label>

        <label>
            Pesel:
            <input type="text" digitOnly formControlName="pesel" pattern="[0-9]{11}">
            <div *ngIf="pesel.invalid && (pesel.dirty || pesel.touched)"
            class="alert alert-danger">
                <div *ngIf="pesel.errors.minlength">
                    Pesel must be 11 characters long.
                </div>
                <div *ngIf="pesel.errors.maxlength">
                        Pesel must be 11 characters long.
                    </div>
            </div>
        </label>

    </div>

    <div *ngIf="radioSelected==company">
        <label>
            Company name:
            <input type="text" formControlName="compName">
        </label>
        <label>
            Regon:
            <input type="text" digitOnly formControlName="regon">
            <div *ngIf="regon.invalid && (regon.dirty || regon.touched)" class="alert alert-danger">
                    <div *ngIf="regon.errors.regonLength">
                        Regon must be 9 or 14 characters long.
                    </div>
                </div>
        </label>

        <label>
            First name:
            <input type="text" formControlName="name" required>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <div *ngIf="name.errors.required">
                        Name is required.
                    </div>
                </div>
        </label>

        <label>
            Last name:
            <input type="text" formControlName="surname" required>
            <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="alert alert-danger">
                    <div *ngIf="surname.errors.required">
                        Last name is required.
                    </div>
                </div>
        </label>

    </div>

    <label>
        Email:
        <input type="text" formControlName="email">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <div *ngIf="email.errors.email">
                    Not appropiate email address.
                </div>
        </div>
    </label>

    <label>
        Phone:
        <input type="text" digitOnly formControlName="phone">
    </label>

    <div formArrayName="address" *ngFor="let address of customerForm.get('address').controls;
                    let i = index;">
        <div [formGroupName]="i">

            <div class="form-group">

                <div class="row">
                    <label class="col-sm-2 control-label" [attr.for]="'address'+i">
                        Add new address
                    </label>
                </div>

                <div class="row">
                    <div class="col-sm-5">

                        Address type:
                        <div>
                            <input type="radio" value="Main address" formControlName="addressType">
                            <label>Main address</label>
                        </div>
                        <div>
                            <input type="radio" value="Postal address" formControlName="addressType">
                            <label>Postal address</label>
                        </div>
                        <input formControlName="street" placeholder="Street">
                        <input formControlName="houseNumber" digitOnly placeholder="House number">
                        <input formControlName="localNumber" digitOnly placeholder="Local number">
                        <input formControlName="postalCode" placeholder="Postal Code">
                        <input formControlName="city" placeholder="City">
                    </div>
                    <div class="col-sm-1" *ngIf="customerForm.get('address').length>1">
                        <button type="button" class="btn btn-danger" title="Delete this address"
                            (click)="removeAddressForm(i)">
                            <i class="far fa-times-circle"></i>
                        </button>
                    </div>
                </div>

                <button type="button" (click)="addAddress()"> Add another address </button>


            </div>
        </div>
    </div>

    <div class="row"  *ngIf="showMsg">
        <div class="col-xs-12">
          <p class="alert alert-success">
              Data submitted successfully!
          </p>
    </div>
</div>

    <button type="submit" [disabled]="!customerForm.valid"> SUBMIT </button>

</form>