<div><b>Client details:</b></div>

<div *ngIf="client && !isEdited">

    <div class="row">
        <div class="col-1">First Name:</div>
        <div class="col-2">{{client.name}}</div>
        <div class="col-2">Company name:</div>
        <div class="col-2">{{client.compName}}</div>
        <div class="col-1">Pesel:</div>
        <div class="col-2">{{client.pesel}}</div>

    </div>
    <div class="row">
        <div class="col-1">Surname:</div>
        <div class="col-2">{{client.surname}}</div>
        <div class="col-2">Regon number:</div>
        <div class="col-2">{{client.regon}}</div>


    </div>
    <div class="row">
        <div class="col-12"><b>Contact info:</b></div>
    </div>

    <div class="row">
        <div class="col-1">Email address:</div>
        <div class="col-2">{{client.email}}</div>
        <div class="col-2">Phone number:</div>
        <div class="col-1">{{client.phone}}</div>
    </div>

    <div>
        <label><b>Client's adresses:</b></label>
    </div>
    <div *ngFor="let address of client.address">
        <div class="row">
            <div class="col-1">Adress type:</div>
            <div class="col-2">{{address.addressType}}</div>
            <div class="col-2"> Street: {{address.street}}</div>
            <div class="col-2"> Home number: {{address.houseNumber}}</div>
            <div class="col-2"> Local number: {{address.localNumber}}</div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-2"> City: {{address.city}}</div>
            <div class="col-2"> Postal code: {{address.postalCode}}</div>
        </div>

    </div>
    <div *ngIf="id">
        <div class="row buttons">
            <div class="col-4">
                <button type="button" class="btn btn-danger" (click)="open()">
                    Delete client
                </button>
                <button type="button" class="btn btn-default" routerLink="/clientList" routerLinkActive="active">
                    Go back
                </button>
            </div>
            <div class="col-6"></div>
            <div class="col-2">
                <button type="button" class="btn btn-info" (click)="isEdited=true">Edit a client</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="client && isEdited">
    <app-client-form [input]="client"></app-client-form>
</div>