/* You can add global styles to this file, and also import other style files */
svg{
    width: calc(100% - 20px);
    position: absolute;
    top: 0;
    z-index: -999;
    opacity: 0.5;
}

.no-display {
    display: none;
  }