<div class="row">
    <b>Add a new agreement</b>
</div>

    <form [formGroup]="agreementForm" (ngSubmit)="onSubmit()">
        <div>
        <label>
            Agreement Number
            <input class="form-control" type = "text" formControlName="agreementNo">
        </label>

        <!-- <label>
            Agreement Type
            <input class="form-control" type = "text" formControlName="agreement_type"
            [ngbTypeahead]="searchType"
            [inputFormatter]="typeFormatter"
            [resultFormatter]="typeFormatter"
            [editable]='false'
            (focus)="focus$.next($event.target.value)"
            (click)="click$.next($event.target.value)"
            #instance="ngbTypeahead">
        </label> -->
        <label>
            Agreement Type
            <select class="form-control" formControlName="agreement_type">
                <option *ngFor="let type of types" [ngValue]="type">{{type.agrName}}</option>
            </select>
        </label>

        <label>
            Start date
            <!-- <input type = "text" formControlName="start"> -->
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp" formControlName="start" ngbDatepicker #ds="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" (click)="ds.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
                </div>
              </div>
        </label>

        <label>
            Finish date
            <!-- <input type = "text" formControlName="end"> -->
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp" formControlName="end" ngbDatepicker #de="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" (click)="de.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
                </div>
              </div>
        </label>

        <label>
            Additional info
            <input class="form-control" type = "text" formControlName="additional">
        </label>

        <label>
            Client
            <input class="form-control" type = "text" formControlName="client"
            [ngbTypeahead]="searchClient"
            [inputFormatter]="clientFormatter"
            [resultFormatter]="clientFormatter"
            [editable]='false'>
        </label>
    </div>  

        <button type="submit" class="btn btn-primary"> SUBMIT </button>

    </form>


